/* 2 Column Layout */
.components-container {
  display: flex;
  flex-wrap: wrap;
}

.component-container {
  flex-basis: 50%;
}

.component-container:nth-child(even) {
  border-left: 0 !important;
}

.component-container:nth-child(2) {
  border-top: 1px solid #E0E0E0 !important;
}